.fake-header {
  display: flex;
  width: 100%;
}

.fake-text-full {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}

.fake-text-indent {
  display: flex;
  width: 93.6%;
  margin-top: 0.5rem;
  margin-left: 4rem;
}

.fake-text-half {
  display: flex;
  height: 0.75rem;
  width: 50%;
  margin-top: 0.5rem;
}
