.fake-header {
  display: flex;
  height: 1.5rem;
  width: 100%;
}

.fake-text-full {
  display: flex;
  height: 0.75rem;
  width: 100%;
  margin-top: 0.5rem;
}

.fake-text-half {
  display: flex;
  height: 0.75rem;
  width: 50%;
  margin-top: 0.5rem;
}

.fake-button {
  display: flex;
  height: 36px;
  width: 40%;
}

.fake-image-sq {
}

.fake-image-circle {
}
