.project-object-holder {
  display: grid;
  flex-grow: 1;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  gap: 2rem;
  padding: 20px 100px;
}

.project-cell {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .project-object-holder {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 800px) {
  .project-object-holder {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
