.btn {
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
}

.btn-medium {
  text-decoration: none;
  height: 50px;
  width: 100px;
  padding: 5px 5px;
  font-size: 1rem;
}

.btn-large {
  text-decoration: none;
  height: 80px;
  width: 160px;
  padding: 5px 5px;
  font-size: 1.6rem;
}

/*The subtle button*/

.btn-outline {
  text-decoration: none;
  background-color: transparent;
  color: var(--light-background);
  border: thin solid var(--light-text);
}

.btn-outline:hover {
  text-decoration: none;
  background: var(--light-background);
  border: thin solid var(--blue-contrast-1);
  color: var(--dark-text);
}
