:root{
    --outline-color: rgb(255, 255, 255);
    --outline-color-alt: rgb(20, 20, 150);
    --outline-text-light: rgb(255, 255, 255);
    --outline-text-dark: rgb(10, 10, 10);
    --primary-color: rgb(255,255,255);
    --primary-text-light: rgb(30, 150, 190);
    --primary-text-dark: rgb(10, 10, 10);
}

.btn{
    border-radius: 2px;
    cursor:pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

.btn--primary{
    text-decoration: inherit;
    background-color: var(--primary-color);
    color: #242424;
}

.btn--outline{
    text-decoration: inherit;
    background-color: transparent;
    color: var(--outline-text-light);
    border: 1px solid var(--outline-color);
    transition: all 0.3s ease-out;
}

.btn--medium {
    height: 40px;
    padding: 8px 20px;
    font-size: 1.5rem;
}

.btn--large {
    padding: 12px 26px;
    font: 20px;
}

.btn--primary:hover{
    background: #000;
    transition: all 0.3s ease-out;
    border: 1px solid var(--highlight)
} 
.btn--outline:hover {
    background: var(--outline-color);
    color: var(--outline-text-dark);
    transition: all 0.3s ease-out;
    border: 1px solid var(--highlight)
}