:root{
    --main-btn-color: rgb(255, 255, 255);
    --alt-1-btn-color: rgb(30, 75, 200);
    --main-text-color: rgb(10, 10, 10);
    --alt-1-text-color: rgb(255,255,255);
    --blue-highlight: rgb(0, 150, 225);
}

.btn{
    cursor: pointer;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}

/*The showoff button*/
.btn--primary{
    text-decoration: inherit;
    background-color: var(--main-btn-color);
    color: var(--main-text-color);
}

/*The subtle button*/
.btn--outline{
    text-decoration: inherit;
    background-color: transparent;
    color: var(--main-btn-color);
    border: thin solid var(--alt-1-text-color);
    transition: all 0.3s ease-out;
}

.btn--medium {
    height: 50px;
    width: 100px;
    padding: 5px 5px;
    font-size: 1rem;
}

.btn--large {
    height: 80px;
    width: 160px;
    padding: 5px 5px;
    font-size: 1.6rem;
}

.btn--primary:hover{
    background: var(--alt-1-btn-color);
    transition: all 0.3s ease-out;
    border: thin solid var(--main-btn-color);
    color: var(--alt-1-text-color);
} 
.btn--outline:hover {
    background: var(--main-btn-color);
    transition: all 0.3s ease-out;
    border: thin solid var(--blue-highlight);
    color: var(--main-text-color);
}